@implements MalwareAdmin.Interfaces.IPopover


<div style="display: inline-flex">
    <MudIcon Icon="@Icons.Filled.Lock" Size="Size.Large"/>
    <h6 style="margin: auto"> Ingrese la contraseña del archivo:</h6>
</div>
<MudTextField T="string" @bind-Text="Password"/>
<MudToolBar>
    <MudButton StartIcon="@Icons.Filled.LockOpen" OnClick="@Close">Continuar</MudButton>
    <MudSpacer/>
    <MudButton StartIcon="@Icons.Filled.Cancel" OnClick="@Cancel" IconColor="Color.Error">Cancelar</MudButton>
</MudToolBar>

@code {
    [Parameter]
    public string Password { get; set; }
    [Inject]
    public Radzen.DialogService DialogService { get; set; }

    public void Refresh()
    {
        InvokeAsync(StateHasChanged).SafeFireAndForget();
    }

    public Task Cancel()
    {
        Password = string.Empty;
        return Close();
    }
    public Task Close()
    {
        return Task.Run(() => DialogService.Close(this));
    }

}
