@using Newtonsoft.Json
<br />
<MudCard>
    <MudCardHeader> <h3>Análisis estático</h3></MudCardHeader>
    <MudGrid>
        @if (Report is { } report)
        {
            @if (report.Info is { } info)
            {
                <MudItem xs="6">
                    <MudSimpleTable Elevation="0">
                        <tbody>
                        <tr>
                            <td>Id de muestra:</td>
                            <td>@info.Id</td>
                        </tr>
                        <tr>
                            <td>Categoria</td>
                            <td>@info.Category</td>
                        </tr>
                        <tr>
                            <td>Empaquetado</td>
                            <td>@info.Package</td>
                        </tr>
                        <tr>
                            <td>Plataforma</td>
                            <td>@info.Platform</td>
                        </tr>
                        @if (info.Machine is { } machine)
                        {
                            <tr>
                                <td>Motor de virtualización</td>
                                <td>@info.Machine.Manager</td>
                            </tr>
                            <tr>
                                <td>Maquina:</td>
                                <td>@info.Machine.Label</td>
                            </tr>
                            <tr>
                                <td>Finalizado:</td>
                                <td>@info.Machine.ShutdownOn</td>
                            </tr>
                        }

                        </tbody>
                    </MudSimpleTable>
                </MudItem>
            }
            <MudItem xs="6" Style="margin: auto">
                <MudChart Style="margin: auto" ChartType="ChartType.Donut" Width="200px" Height="200px"
                      InputData="@(new double[]{10,report.Info.Score})" InputLabels="@(new string[]{ "Regular","Malicioso"})">
                    <CustomGraphics>
                        <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Calificación</text>
                        <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@((report.Info.Score))</text>
                    </CustomGraphics>
                </MudChart>
            </MudItem>

            <MudItem xs="4" Style="text-align: center">
                <h6>Firmas</h6>
                <MudList Clickable="true" style="overflow: auto; max-height: 40vh" Dense=true>
                    @foreach (CuckooSignature s in report.Signatures)
                    {
                        <MudListItem>
                            <MudExpansionPanel Text="@s.Description" MaxHeight="150">

                                <MudList Dense="true" Style="overflow: auto;height: 10vh;">
                                    @foreach (Mark mark in s.Marks)
                                    {
                                        <MudListItem>
                                            <p>@mark.Ioc</p>
                                        </MudListItem>
                                    }
                                </MudList>

                            </MudExpansionPanel>
                        </MudListItem>
                    }
                </MudList>
            </MudItem>

            <MudItem xs="4" Style="text-align: center">
                <h6>Cadenas</h6>
                <MudList Clickable="true" style="overflow: auto; max-height: 40vh" Dense=true>
                    @foreach (string s in report.Strings)
                    {
                        <MudListItem>
                            <p>@s</p>
                        </MudListItem>
                    }
                </MudList>
            </MudItem>

            <MudItem xs="4" Style="text-align: center">
                <h6>Red</h6>
                <MudList Clickable="true" style="overflow: auto; max-height: 40vh" Dense=true>
                    @foreach (string s in report.Target.File.Urls)
                    {
                        <MudListItem>
                            <p>@s</p>
                        </MudListItem>
                    }
                </MudList>
            </MudItem>


            @*MarkupString ms = (MarkupString)JsonConvert.SerializeObject(report.Strings);
        @ms
        ;*@
        }
    </MudGrid>

</MudCard>

@code {

    [Parameter]
    public JsonReport Report { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

}
