<div style="@(OnClosed is null ? "padding:30px;height:100%;":"width: 300px;")">
    <MudPaper @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass" MinHeight="100px" Outlined="false" Class="@DragClass" Elevation="0">
        @if (!Clearing)
        {
            <InputFile OnChange="OnInputFileChanged" multiple class="absolute mud-width-full mud-height-full overflow-hidden z-2" style="opacity:0;" />
        }
        <MudText Typo="Typo.h6">Arrastra archivos aquí o presiona para seleccionar</MudText>
        @foreach (var file in fileNames)
        {
            <MudChip Color="Color.Dark" Text="@file" />
        }
    </MudPaper>
    <MudToolBar DisableGutters="true" Class="gap-4">
        <MudButton OnClick="Upload" Disabled="@(!fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">Subir</MudButton>
        @if (OnClosed is not null)
        {
            <MudButton OnClick="Clear" Color="Color.Error" Variant="Variant.Filled">Cancelar</MudButton>
        }
    </MudToolBar>
</div>
@code
{
    public void FilesLimitAlert()
    {
        DialogService.Open("Limite carga de archivos excedido.",
            ds =>
    @<div style="padding: 20px;">
        <MudText>Solamente se permite subir 10 archivos cada vez.</MudText>
    </div>, options: new Radzen.DialogOptions() { AutoFocusFirstElement = true, ShowClose = true, CloseDialogOnOverlayClick = true, CloseDialogOnEsc = true });
    }
}